@model Web.Models.Flights.FlightsDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div style="display:inline;text-align:left">
    <h4>FlightsDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegularSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegularSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessSeats)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="UserList">Back to List</a>
</div>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Reserve">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TicketNum" class="control-label"></label>
                <input asp-for="TicketNum" class="form-control" />
                <span asp-validation-for="TicketNum" class="text-danger"></span>
            </div>
            <input asp-for="FlightId" type="hidden" value="@Model.FlightId" />
            <div class="form-group">
                <input type="submit" value="Reserve" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>